<div class="container">
    <div class="card">
      <div class="card-header">
          Testing-1
      </div>
      <div class="card-body">
        <input type="file" (change)="fileChangeEvent($event)" />
        <div class="row" style="margin-top: 15px;">
            <div class="text-center col-md-8">
                <h5>Crop Image</h5>

                <div style="display: flex;">
                    <input #aspection type="text"  placeholder="3/4"/>
                    <button class="btn btn-success" (click)="get_crop_shape( aspection.value, 'custom' )" >Aspection Ratio</button>
                </div>

                <image-cropper 
                [imageChangedEvent]="imageChangedEvent" 
                [maintainAspectRatio]="true" 
                [aspectRatio]="aspection_ratio"
                [resizeToWidth]="256" 
                format="png" 
                (imageCropped)="imageCropped($event)" 
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()" 
                (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
            <div class="text-center col-md-4">
                <h5>Preview</h5>
                <img src="{{croppedImage}}" />

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" (click)="get_crop_shape( 1/1 )" >Square</button> &nbsp;
                    <button type="button" class="btn btn-primary" (click)="get_crop_shape( 4/3 )" >Horizontal-Rectangle</button> &nbsp;
                    <button type="button" class="btn btn-primary" (click)="get_crop_shape( 3/4 )" >Vertical-Rectangle</button>
                </div>

            </div>
        </div>
      </div>
    </div>
</div>